//colors

$white-color: hsl(0 0% 100%);
$state-300-color: hsl(212, 45%, 89%);
$state-500-color: hsl(216, 15%, 48%);
$state-900-color: hsl(218, 44%, 22%);

//fonts

$font-family: Outfit, serif;
$light-weight-font: 400;
$normal-weight-font: 700;
$font-size: 15px;

//screen-sizes

$mobile-screen: 375px;
$desktop-screen: 1440px;